@import url(./_color_black/popup__button_color_black.css);
@import url(./_color_white/popup__button_color_white.css);

.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  font-size: 36px;
}
